{
  "globals": {
    "describe": true,
    "test": true,
    "expect": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-parens": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "object-curly-newline": 0
  }
}
