{
  "extends": "airbnb",
  "rules": {
    "arrow-parens": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "object-curly-newline": 0,
    "arrow-body-style": 0
  }
}
